html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
  body .container-lg {
    padding-bottom: 20px; }
    body .container-lg .row .col .header {
      height: 79px;
      background-color: #0262a4;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-shadow: 0 3px 6px 0 gray;
      box-shadow: 0 3px 6px 0 gray; }
      body .container-lg .row .col .header .network {
        font-size: 32px;
        text-transform: uppercase;
        color: #fffffc;
        margin-left: 60px; }
      body .container-lg .row .col .header .ava_block {
        margin-right: 77px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body .container-lg .row .col .header .ava_block .name_user {
          color: #fffffc;
          font-size: 24px;
          margin-left: 30px; }
    body .container-lg .content {
      padding: 0 70px; }
      body .container-lg .content .col-2 .navigation {
        margin-top: 20px; }
        body .container-lg .content .col-2 .navigation li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          body .container-lg .content .col-2 .navigation li a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 15px 5px; }
          body .container-lg .content .col-2 .navigation li span {
            margin-left: 5px; }
          body .container-lg .content .col-2 .navigation li a:hover {
            background-color: #e4f6fe;
            text-decoration: none; }
          body .container-lg .content .col-2 .navigation li a:hover .mess {
            background-color: #229fde;
            color: #e9e9df; }
          body .container-lg .content .col-2 .navigation li .mess {
            background-color: #0382c3;
            color: #fffffc;
            padding: 1px 5px;
            border-radius: 3px; }
      body .container-lg .content .col-3 {
        padding: 0; }
        body .container-lg .content .col-3 .ava_and_friends form {
          border-radius: 3px;
          margin-top: 30px;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-shadow: 0 3px 6px 0 gray;
          box-shadow: 0 3px 6px 0 gray; }
          body .container-lg .content .col-3 .ava_and_friends form .image {
            padding: 20px; }
          body .container-lg .content .col-3 .ava_and_friends form .input_photo {
            padding: 20px;
            width: 100%;
            border-top: 1px solid #f1f1f1; }
            body .container-lg .content .col-3 .ava_and_friends form .input_photo li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; }
              body .container-lg .content .col-3 .ava_and_friends form .input_photo li #avatar {
                display: none;
                margin-top: 20px; }
              body .container-lg .content .col-3 .ava_and_friends form .input_photo li label {
                text-transform: uppercase;
                font-size: 20px;
                display: block;
                width: 100%;
                padding: 10px 30px;
                border-radius: 3px;
                background-color: #8bd8fb;
                color: #dff2fd;
                cursor: pointer;
                text-align: center; }
        body .container-lg .content .col-3 .ava_and_friends .friends {
          border-radius: 3px;
          -webkit-box-shadow: 0 3px 6px 0 gray;
          box-shadow: 0 3px 6px 0 gray;
          padding-top: 40px;
          margin-top: 20px; }
          body .container-lg .content .col-3 .ava_and_friends .friends .friends_header {
            font-size: 20px;
            color: #7d8b8e;
            padding: 0 25px;
            opacity: 60%; }
          body .container-lg .content .col-3 .ava_and_friends .friends ul {
            margin-top: 20px;
            padding-bottom: 20px;
            display: -ms-grid;
            display: grid;
            padding-left: 25px;
            -ms-grid-columns: (1fr)[5];
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: minmax(100px, auto); }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; }
              body .container-lg .content .col-3 .ava_and_friends .friends ul li span {
                font-size: 16px;
                text-align: center;
                color: #7d8b8e; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(1) {
              -ms-grid-column: 1;
              -ms-grid-column-span: 1;
              grid-column: 1/2;
              -ms-grid-row: 1;
              -ms-grid-row-span: 1;
              grid-row: 1/2; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(2) {
              -ms-grid-column: 2;
              -ms-grid-column-span: 1;
              grid-column: 2/3;
              -ms-grid-row: 1;
              -ms-grid-row-span: 1;
              grid-row: 1/2; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(3) {
              -ms-grid-column: 3;
              -ms-grid-column-span: 1;
              grid-column: 3/4;
              -ms-grid-row: 1;
              -ms-grid-row-span: 1;
              grid-row: 1/2; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(4) {
              -ms-grid-column: 1;
              -ms-grid-column-span: 1;
              grid-column: 1/2;
              -ms-grid-row: 2;
              -ms-grid-row-span: 1;
              grid-row: 2/3;
              padding-bottom: 25px; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(5) {
              -ms-grid-column: 2;
              -ms-grid-column-span: 1;
              grid-column: 2/3;
              -ms-grid-row: 2;
              -ms-grid-row-span: 1;
              grid-row: 2/3; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(6) {
              -ms-grid-column: 3;
              -ms-grid-column-span: 1;
              grid-column: 3/4;
              -ms-grid-row: 2;
              -ms-grid-row-span: 1;
              grid-row: 2/3; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(7) {
              -ms-grid-column: 1;
              -ms-grid-column-span: 1;
              grid-column: 1/2;
              -ms-grid-row: 3;
              -ms-grid-row-span: 1;
              grid-row: 3/4; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(8) {
              -ms-grid-column: 2;
              -ms-grid-column-span: 1;
              grid-column: 2/3;
              -ms-grid-row: 3;
              -ms-grid-row-span: 1;
              grid-row: 3/4; }
            body .container-lg .content .col-3 .ava_and_friends .friends ul li:nth-child(9) {
              -ms-grid-column: 3;
              -ms-grid-column-span: 1;
              grid-column: 3/4;
              -ms-grid-row: 3;
              -ms-grid-row-span: 1;
              grid-row: 3/4; }
      body .container-lg .content .col-7 .second_content .info {
        margin-top: 30px;
        -webkit-box-shadow: 0 3px 6px 0 gray;
        box-shadow: 0 3px 6px 0 gray;
        padding: 30px 0 20px 0;
        border-radius: 3px; }
        body .container-lg .content .col-7 .second_content .info .luella {
          margin: 0 20px;
          display: block;
          font-size: 23px;
          color: #3b3e41;
          opacity: 70%;
          padding-bottom: 30px;
          border-bottom: 1px solid #efeded; }
        body .container-lg .content .col-7 .second_content .info .birthday_and_city {
          padding: 25px 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          margin: 0 20px; }
          body .container-lg .content .col-7 .second_content .info .birthday_and_city ul:nth-child(1) {
            color: #c6c0c4; }
            body .container-lg .content .col-7 .second_content .info .birthday_and_city ul:nth-child(1) li:nth-child(2) {
              margin-top: 10px; }
          body .container-lg .content .col-7 .second_content .info .birthday_and_city ul:nth-child(2) {
            color: #4ca4d8;
            margin-left: 100px; }
            body .container-lg .content .col-7 .second_content .info .birthday_and_city ul:nth-child(2) li:nth-child(2) {
              margin-top: 10px; }
        body .container-lg .content .col-7 .second_content .info .friends_245 {
          padding-top: 20px;
          border-top: 1px solid #efeded;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-pack: distribute;
          justify-content: space-around; }
          body .container-lg .content .col-7 .second_content .info .friends_245 ul li {
            color: #4ca4d8;
            text-align: center; }
          body .container-lg .content .col-7 .second_content .info .friends_245 ul li:nth-child(1) {
            font-size: 20px; }
      body .container-lg .content .col-7 .second_content .posts {
        padding: 30px 0;
        -webkit-box-shadow: 0 3px 6px 0 gray;
        box-shadow: 0 3px 6px 0 gray;
        margin-top: 20px;
        border-radius: 3px; }
        body .container-lg .content .col-7 .second_content .posts .ava_post {
          margin: 0 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; }
          body .container-lg .content .col-7 .second_content .posts .ava_post ul {
            margin: 0 20px; }
            body .container-lg .content .col-7 .second_content .posts .ava_post ul li {
              font-size: 16px;
              margin: 3px 0; }
            body .container-lg .content .col-7 .second_content .posts .ava_post ul li:nth-child(2) {
              font-size: 12px;
              color: #ced5de; }
        body .container-lg .content .col-7 .second_content .posts .message_post {
          display: block;
          margin: 20px 0;
          color: #435d75;
          border-bottom: 1px solid #efeded;
          padding: 0 20px 30px 22px; }
        body .container-lg .content .col-7 .second_content .posts .like_repost {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; }
          body .container-lg .content .col-7 .second_content .posts .like_repost a .icon-orange {
            color: #ffb34b; }
          body .container-lg .content .col-7 .second_content .posts .like_repost a:hover .icon-orange {
            color: #f6105b; }
          body .container-lg .content .col-7 .second_content .posts .like_repost ul {
            margin-top: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin-left: 20px; }
            body .container-lg .content .col-7 .second_content .posts .like_repost ul li {
              text-align: center;
              margin-left: 10px; }
              body .container-lg .content .col-7 .second_content .posts .like_repost ul li span {
                color: #ffb34b; }
          body .container-lg .content .col-7 .second_content .posts .like_repost .arrow {
            margin-top: 10px;
            margin-left: 20px; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }
