@import "bourbon/bourbon"

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	.container-lg
		padding-bottom: 20px
		.row
			.col
				.header
					height: 79px
					background-color: #0262a4
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center
					box-shadow: 0 3px 6px 0 gray
					.network
						font-size: 32px
						text-transform: uppercase
						color: #fffffc
						margin-left: 60px
					.ava_block
						margin-right: 77px
						display: flex
						align-items: center
						.name_user
							color: #fffffc
							font-size: 24px
							margin-left: 30px
		.content
			padding: 0 70px
			.col-2
				.navigation
					margin-top: 20px
					li
						display: flex
						flex-direction: column
						a
							display: flex
							flex-direction: row
							align-items: center
							padding: 15px 5px
						span
							margin-left: 5px
						a:hover
							background-color: #e4f6fe
							text-decoration: none
						a:hover .mess
							background-color: #229fde
							color: #e9e9df
						.mess
							background-color: #0382c3
							color: #fffffc
							padding: 1px 5px
							border-radius: 3px
			.col-3
				padding: 0
				.ava_and_friends
					form
						border-radius: 3px
						margin-top: 30px
						width: 100%
						display: flex
						flex-direction: column
						justify-content: center
						box-shadow: 0 3px 6px 0 gray
						.image
							padding: 20px
						.input_photo
							padding: 20px
							width: 100%
							border-top: 1px solid #f1f1f1
							li
								display: flex
								justify-content: center
								#avatar
									display: none
									margin-top: 20px
								label
									text-transform: uppercase
									font-size: 20px
									display: block
									width: 100%
									padding: 10px 30px
									border-radius: 3px
									background-color: #8bd8fb
									color: #dff2fd
									cursor: pointer
									text-align: center
					.friends
						border-radius: 3px
						box-shadow: 0 3px 6px 0 gray
						padding-top: 40px
						margin-top: 20px
						.friends_header
							font-size: 20px
							color: #7d8b8e
							padding: 0 25px
							opacity: 60%
						ul
							margin-top: 20px
							padding-bottom: 20px
							display: grid
							padding-left: 25px
							grid-template-columns: repeat(5, 1fr)
							grid-auto-rows: minmax(100px, auto)
							li
								display: flex
								flex-direction: column
								justify-content: center
								span
									font-size: 16px
									text-align: center
									color: #7d8b8e
							li:nth-child(1)
								grid-column: 1/2
								grid-row: 1/2
							li:nth-child(2)
								grid-column: 2/3
								grid-row: 1/2
							li:nth-child(3)
								grid-column: 3/4
								grid-row: 1/2
							li:nth-child(4)
								grid-column: 1/2
								grid-row: 2/3
								padding-bottom: 25px
							li:nth-child(5)
								grid-column: 2/3
								grid-row: 2/3
							li:nth-child(6)
								grid-column: 3/4
								grid-row: 2/3
							li:nth-child(7)
								grid-column: 1/2
								grid-row: 3/4
							li:nth-child(8)
								grid-column: 2/3
								grid-row: 3/4
							li:nth-child(9)
								grid-column: 3/4
								grid-row: 3/4
			.col-7
				.second_content
					.info
						margin-top: 30px
						box-shadow: 0 3px 6px 0 gray
						padding: 30px 0 20px 0
						border-radius: 3px
						.luella
							margin: 0 20px
							display: block
							font-size: 23px
							color: #3b3e41
							opacity: 70%
							padding-bottom: 30px
							border-bottom: 1px solid #efeded
						.birthday_and_city
							padding: 25px 5px
							display: flex
							flex-direction: row
							margin: 0 20px
							ul:nth-child(1)
								color: #c6c0c4
								li:nth-child(2)
									margin-top: 10px
							ul:nth-child(2)
								color: #4ca4d8
								margin-left: 100px
								li:nth-child(2)
									margin-top: 10px
						.friends_245
							padding-top: 20px
							border-top: 1px solid #efeded
							display: flex
							flex-direction: row
							justify-content: space-around
							ul
								li
									color: #4ca4d8
									text-align: center
								li:nth-child(1)
									font-size: 20px
					.posts
						padding: 30px 0
						box-shadow: 0 3px 6px 0 gray
						margin-top: 20px
						border-radius: 3px
						.ava_post
							margin: 0 20px
							display: flex
							flex-direction: row
							ul
								margin: 0 20px
								li
									font-size: 16px
									margin: 3px 0
								li:nth-child(2)
									font-size: 12px
									color: #ced5de
						.message_post
							display: block
							margin: 20px 0
							color: #435d75
							border-bottom: 1px solid #efeded
							padding: 0 20px 30px 22px
						.like_repost
							display: flex
							flex-direction: row
							a
								.icon-orange
									color: #ffb34b
							a:hover
								.icon-orange
									color: #f6105b

							ul
								margin-top: 10px
								display: flex
								flex-direction: row
								margin-left: 20px
								li
									text-align: center
									margin-left: 10px
									span
										color: #ffb34b
							.arrow
								margin-top: 10px
								margin-left: 20px


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none
